header{
  padding-left:37%;
  font-size: 30px;
  padding-top:2%;
  padding-bottom: 2%;
  border:1px solid black;
  background-color:rgba(0, 0, 0, 0.738);
}
footer{
  margin-top:7%;
  margin-left:2%;
  font-size:20px;
}
.menu {
  display: flex;
  flex-direction: column; 
  margin-top: 3%;
  width: 10%;
}
.menuitem{
 border:1px solid black;
 border-radius: 10px;
 font-size: 25px;
 margin-top: 35%;
 padding: 5px 5px 5px 5px;
 text-decoration: none;
 color:white;
 background-color: black;

}
.container{
  display: flex;
}
.headerLink{
  text-decoration: none;
  color:white;
}
.main{
  margin-left: 2%;
  margin-top: 3%;
  width:100%
}
.mainImage{
  margin-left: 27%;
  margin-top: 2%;
  width: 30%;
}
button{
  width:10%;
  height:40px;
  font-size: 20px;
  background-color: gray;
  color: white;

}